<div id="wishes">
    @{
        if (Model != null)
        {
            if ((bool)Model)
            { 
        <div style="height: 15px; margin-bottom: 20px;">
            <a id="prev" href="" class="link-back" style="float: left; margin-left: 10px; margin-top: -20px;"
                data-bind='enableLink: tokens().length > 0'>anteriores</a> <a id="next" href="" class="link"
                    style="float: right; margin-right: 20px; margin-top: -20px;" data-bind='enableLink: hasMore()'>
                    siguientes</a>
        </div>         
            }
        }
    }
    <div class="wishes" data-bind="template: {
            name: 'wishTemplate',
            foreach: wishes,
            beforeRemove: function(elem) { 
                $(elem).fadeOut('slow');
            },
            afterAdd: function(elem) {
                $(elem).fadeIn('slow');
                 cufonize();
            }
        }">
    </div>
</div>
<script type="text/html" id="wishTemplate">
         <div class="wish">
                <div class="container">
                    <strong class="title"><strong><strong>${From}</strong></strong></strong> <strong
                        class="title1">escribio:</strong>
                </div>
                <div class="font">
                    ${Message}
                </div>
            </div>
</script>
<script type="text/javascript">
    var mapping = {
        wishes: {
            key: function (data) {
                return ko.utils.unwrapObservable(data.RowKey);
            }
        }
    };
    var viewModel = ko.mapping.fromJS({
        nextToken: null,
        hasMore: true,
        tokens: [],
        wishes: []
    }, mapping);

    ko.applyBindings(viewModel, document.getElementById('wishes'));

    function GetWishes()
    {
        $.post('/Wedding/GetYourWishes', { token: viewModel.tokens()[0] },
            function (data) {
                ko.mapping.updateFromJS(viewModel, data);               
            });
    }

    GetWishes();

    ko.bindingHandlers.enableLink = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            if(valueAccessor()){              
                $(element).fadeIn('fast');
            }
            else{                
                $(element).fadeOut('fast');
            }
        },
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            if(valueAccessor()){              
                $(element).fadeIn('fast');
            }
            else{                
                $(element).fadeOut('fast');
            }
        },
    };
</script>
