@{
    ViewBag.Title = "Wedding";
}
<div id="wedding-page">
    <div class="col-1">
        <h2 class="h2-margin">
            En donde?</h2>
        <div class="col-indent">
            <div class="col-indent">
                <img src="@Url.Content("~/Content/Images/wedding-barcelo.jpg")" alt=""/>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            La boda</h2>
        <div class="col-indent">
            <span>El Barceló Maya Tropical sera cede de nuestra boda el <strong class="instruction">
                sabado 3 de diciembre</strong> dicho resort esta ubicado ela Riviera Maya a 25 km
                de Playa del Carmen . </span>
            <br />
            <br />
            <table>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/Images/wedding-1.jpg")" alt="" style="margin-right: 20px;"/>
                    </td>
                    <td valign="top">
                        <span>La ceremonia religiosa sera en la Capilla "Iglesia de Nuestra Señora de Guadalupe"
                            ubicada dentro del complejo a las 4:00 pm </span>
                    </td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </div>
</div>
