@{
    ViewBag.Title = "Wedding";
}
<div id="wedding-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Nuestra Boda</h2>
        <div class="col-indent">
            <span class="font2">Para su comodidad en esta sección les proporcionamos información
                útil para su estancia en la Riviera Maya.
                <br />
                <br />
                Como saben el lugar cede del evento es el Barceló Maya Tropical (fase 2) dicho hotel
                forma parte de un complejo de 5*, que consta de 5 hoteles y un total de 2,734 habitaciones.
                El complejo entero está construido en un estilo arquitectónico Maya, situado frente
                a una playa privada de 2Km de largo y en medio de hermosos jardines tropicales.
                Está ubicado a 75 Km. al sur del Aeropuerto de Cancún, 25 Km. al sur de Playa del
                Carmen. y 35 Km. al norte de Tulum. </span>
            <br />
            <br />
        </div>
        <h2 class="h2-margin">
            Reservaciones</h2>
        <div class="col-indent">
            <span class="font2">La tarifa que se otorga para el evento es de $1,200 x persona y
                x noche sin embargo para que esta sea respetada es <strong>indispensable</strong>
                que se haga por medio del call center Barceló hasta antes del 25 de Noviembre 2011.</span>
            <br />
            <br />
            <table class="infotable">
                <thead>
                    <tr>
                        <td colspan="2" class="font-margin">
                            Contacto Call Center Barcelo
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="100px;">
                            Tel:
                        </td>
                        <td align="right">
                            01-800-BARCELO (227-23-56)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td align="right">
                            <a href="mailto:sac7.op1@barcelo.com">sac7.op1@barcelo.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Clave:
                        </td>
                        <td align="right">
                            “Boda de Martha e Iván”
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <table class="infotable" width="540px" style="text-align: center;">
                <thead>
                    <tr>
                        <td width="60px">
                            Tipo de Habitación
                        </td>
                        <td>
                            Sencilla
                        </td>
                        <td>
                            Doble
                        </td>
                        <td>
                            Extra Pax
                        </td>
                        <td>
                            Menor (2-12)
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Estándar
                        </td>
                        <td>
                            $1,920.00
                        </td>
                        <td>
                            <strong class="instruction">$1,200.00</strong>
                        </td>
                        <td>
                            $840.00
                        </td>
                        <td>
                            $480.00
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <span class="font2">NOTAS:
                <br />
                • Tarifica aplicable para Fase 2
                <br />
                • Tarifas en Moneda Nacional, por persona, por noche, en plan Todo Incluido*.
                <br />
                • Tarifas especial garantizando mínimo habitación doble por dos noches.
                <br />
                • Tarifas válida solo para invitados a la boda de Martha e Iván
                <br />
                • La tarifa especial otorgada este grupo, se respetara únicamente a los invitados
                a la boda, 03 días antes y 03 días después a los días del evento.
                <br />
                <br />
                <br />
                <strong>*TARIFA TODO INCLUIDO:</strong>
                <br />
                Hospedaje en Habitaciones Estándar, Copa Cóctel de Bienvenida, Barra de Bebidas
                Nacionales, Desayuno Buffet, Comida Buffet, Cena buffet y Snacks, Shows en vivo
                en Teatro Palenque de acuerdo a programación, Música viva en Lobby Bar, no cover
                en Discoteca Jaguar’s (horario de 23:00 a 02:00 Hrs), Deportes acuáticos no motorizados,
                Actividades Recreativas de alberca y playa, Mini club con actividades para niños
                de 4 a 12 años, Uso de las canchas de Tenis y Gimnasio previa reservación, Caja
                de Seguridad en la Habitación, Descuentos especiales en renta de autos y en Tours,
                ya incluye Impuestos y Propinas Esperemos que esta información sea de gran utilidad
                para ustedes y su estancia sea placentera, cualquier duda nos pueden contactar.
            </span>
        </div>
        <h2 class="h2-margin">
            Formas de Pago</h2>
        <div class="col-indent">
            <span class="font2">Para mayor facilidad la reservación pueda ser pagada mediante tres
                pagos donde podrán depositar a la cuenta adjunta según las fechas estipuladas a
                continuación:
                <br />
                <br />
                1er pago: 25 de Septiembre de 2011<br />
                2do pago: 25 de Octubre de 2011<br />
                3er pago: 25 de Noviembre de 2011<br />
                <br />
                <br />
                <table class="infotable">
                    <thead>
                        <tr>
                            <td colspan="2" class="font-margin">
                                Datos de la cuenta
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="100px;">
                                Razon Social:
                            </td>
                            <td align="right">
                                QUIROOCAN SA DE CV
                            </td>
                        </tr>
                        <tr>
                            <td width="100px;">
                                Banco:
                            </td>
                            <td align="right">
                                BBV Bancomer
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cuenta:
                            </td>
                            <td align="right">
                                0103759881
                            </td>
                        </tr>
                        <tr>
                            <td>
                                CLABE:
                            </td>
                            <td align="right">
                                012-694-0-01037598810
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
                Dicha cuenta es del hotel y cada invitado deberá enviar su ó sus comprobantes de
                pago en un mismo mail <a href="mailto:sac7.op1@barcelo.com">sac7.op1@barcelo.com</a>
                escaneando las diversas fichas de depósito y enviarlas al ejecutivo del Call Center
                que atendió su llamada y confirmo su reservación. </span>
            <br />
            <br />
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Ceremonia</h2>
        <div class="col-indent">
            <span class="font2">El <strong>Barceló Maya Tropical</strong> será cede de nuestra boda
                el <strong class="instruction">sábado 3 de diciembre</strong> dicho resort está
                ubicado en la <strong>Riviera Maya a 25 km de Playa del Carmen</strong>.
                <br />
                <br />
                <span class="font2">La ceremonia religiosa será en la Capilla "Iglesia de Nuestra Señora
                    de Guadalupe" ubicada dentro del complejo a las 4:00 pm </span>
                <br />
                <br />
                <span class="font2">Posteriormente tendremos la recepción en la palapa Palmeras Grill
                    a las 8:00 pm </span>
                <br />
                <br />
                <iframe title="YouTube video player" width="300" height="250" src="http://www.youtube.com/embed/484xGtMXM90"
                    frameborder="0" allowfullscreen></iframe>
                <br />
                <br />
                <br />
                <a class="link" href="http://www.barcelomayatropicalbeach.com" target="_blank">página
                    del barcelo</a>
                <br />
                @{
                    var weddingDate = new DateTime(2011, 12, 3);
                    var countDown = weddingDate.Subtract(DateTime.Now).Days;
                }
                <div class="countdown">
                    <strong class="title1">faltan</strong> <strong class="title3">@countDown</strong>
                    <strong class="title1">dias</strong>
                </div>
                <br />
                <strong class="instruction">Nota:</strong> Para los invitados que no se hospeden
                en el hotel cede, favor de considerar que para entrar a las instalaciones del Resort
                hay una cuota de 89 usd x persona (Day Pass)... favor de avisarnos con anticipación
                para evitar cualquier contratiempo.
                <br />
                <br />
                <br />
        </div>
        <h2 class="h2-margin">
            Vuelo
        </h2>
        <div class="col-indent">
            <span class="font2">Aquí les dejamos como sugerencia una agencia de viajes para que
                con tiempo puedan ir separando su vuelo la opción que nos da es que con <strong class="instruction">
                    $200.00 MXN</strong> te reservan tu asiento y te respetan la tarifa y el resto
                lo vas pagando mes a mes se tiene como fecha límite Octubre para terminar de pagar
                por completo tu boleto.
                <br />
                <br />
                <table class="infotable" style="text-align: center;">
                    <thead>
                        <tr>
                            <td colspan="2">
                                Promueve Agencia de Viajes
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Contacto:
                            </td>
                            <td class="alignright">
                                Veronica Calderon
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Telefono:
                            </td>
                            <td class="alignright">
                                82321111
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Correo:
                            </td>
                            <td class="alignright">
                                <a href="mailto:promueveagencia@axtel.net">promueveagencia@axtel.net</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Direccion:
                            </td>
                            <td class="alignright">
                                Av Miguel Aleman 5054 Local 108 HEB Multiplaza Col Libertad en Gpe. N.L.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>
</div>
