@{
    ViewBag.Title = "Wedding";
}
<div id="wedding-page">
    <div class="col-1">
        <h2 class="h2-margin">
            El compromiso</h2>
        <div class="col-indent">
            <div class="col-indent">
                <img src="@Url.Content("~/Content/Images/wedding-barcelo.jpg")" alt=""/>
                <br />
                <br />
                <span>Evolucion es la palabra que define nuestro compromiso, ya que conforme paso el
                    tiempo supimos que eramos el uno para el otro y que Dios nos tenia algo preparado
                    pero fue hasta el pasado 17 de Febrero del 2011, que nuestro compromiso se fortalecio…
                    <br />
                    <br />
                    El lugar de los hechos fue en Feel Gr@w, donde Ivan junto con su sax hicieron el
                    momento mas inolvidable, fue ahí cuando reforzo nuestro compromiso entregando un
                    hermoso anillo.
                    <br />
                    <br />
                    Y claro yo no me pude resistir mas…. Y dije CLARO quiero estar contigo simpre.
                </span>
            </div>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            La boda</h2>
        <div class="col-indent">
            <span>El Barceló Maya Tropical sera cede de nuestra boda el <strong class="instruction">sabado 3 de diciembre</strong>
                dicho resort esta ubicado ela Riviera Maya a 25 km de Playa del Carmen . </span>
            <br />
            <br />
            <table>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/Images/wedding-1.jpg")" alt="" style="margin-right: 20px;"/>
                    </td>
                    <td valign="top">
                        <span>La ceremonia religiosa sera en la Capilla "Iglesia de Nuestra Señora de Guadalupe"
                            ubicada dentro del complejo a las 4:00 pm </span>
                    </td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </div>
</div>
