@{
    ViewBag.Title = "Music";
}
<div id="music-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Proximamente :S</h2>
        <div class="col-indent">
            <p class="font2">
                Una disculpa por las prisas no hemos terminado esta sección, pronto la habilitaremos...
                GRACIAS!!
            </p>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            A mover el bote!!</h2>
        <div class="col-indent">
            <img src="@Url.Content("~/Content/Images/music-tile.jpg")" alt="" />
            <p class="font2">
                En este apartado podras solicitar canciones que no pueden faltar en nuestra boda
                para mover el cu... el cu... el cu... EL CUERPO!!!
                <br />
                <br />
                Sujetas a aprobación no queremos hacer el oso jejejeje.
            </p>
        </div>
    </div>
</div>
