@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="photos-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Fotos</h2>
        <div class="col-indent">
            <p class="font2">
                <object width="630" height="525">
                    <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626770713073%2Fshow%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626770713073%2F&set_id=72157626770713073&jump_to=">
                    </param>
                    <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=104087">
                    </param>
                    <param name="allowFullScreen" value="true"></param>
                    <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=104087"
                        allowfullscreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626770713073%2Fshow%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626770713073%2F&set_id=72157626770713073&jump_to="
                        width="630" height="525"></embed></object>
            </p>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Sesion de fotos</h2>
        <div class="col-indent">
            <p class="font2">
                Les compartimos unas fotos que nos tomaron en nuestra sesion la verdad muy pesado
                pero bueno... todo por mi precio!!!
                <br />
                <br />
            </p>
        </div>
    </div>
</div>
