@{
    ViewBag.Title = "Photo album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Message</h2>
<object width="400" height="300">
    <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626513478812%2Fshow%2Fwith%2F5626397462%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626513478812%2Fwith%2F5626397462%2F&set_id=72157626513478812&jump_to=5626397462">
    </param>
    <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649">
    </param>
    <param name="allowFullScreen" value="true"></param>
    <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649"
        allowfullscreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626513478812%2Fshow%2Fwith%2F5626397462%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626513478812%2Fwith%2F5626397462%2F&set_id=72157626513478812&jump_to=5626397462"
        width="400" height="300"></embed></object>
