@{
    ViewBag.Title = "Your Wishes";
}
<div id="wishes-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Your wishes</h2>
        <a id="nextButton" href="" class="link" style="float: right; margin-right: 10px;
            margin-top: -20px;">siguientes</a>
        @Html.Partial("_YourWishes")
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Agrega el tuyo</h2>
        <div class="col-indent">
            <img src="@Url.Content("~/Content/Images/wish-tile.jpg")"  alt="" />
            <p class="font">
                En este apartado puedes compartirnos cualquier deseo que tengas para esta nueva
                etapa de nuestras vidas. GRACIAS POR TU AMISTAD.
            </p>
            <p class="font">
                Si ya escribiste algun deseo y quieres modificarlo vuelve a agregarlo aqui.
            </p>
            <br />
            <strong>Agrega tu deseo:</strong> (200 chars maximo)
            <br />
            <br />
            @using (Ajax.BeginForm("AddWish", null, new AjaxOptions { OnSuccess = "OnWishAdded" }, new { @id = "form-wish" }))
            {   
                @Html.TextArea("comment", new { @class = "add-wish", rows = "6", cols = "1", onkeypress = "if(this.value.length>200)return false;", onblur = "if(this.value.length>200)this.value=this.value.substr(0,250);" })
                <div class="alignright">
                    <a href="#" class="link" onclick="$('#comment').val('');return false;">borrar</a>
                    <a href="#" class="link" onclick="$('#form-wish').submit();return false;">enviar</a>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    function RefreshWishes() {
        $.post('/Wedding/GetYourWishes', {},
            function (data) {
                ko.mapping.updateFromJS(viewModel, data);
            });
    }

    function OnWishAdded(e) {
        $('#comment').val('');
        RefreshWishes();
    }
    $(function () {
        $('#nextButton').click(function () {
            viewModel.tokens.unshift(ko.utils.unwrapObservable(viewModel.nextToken));
            GetWishes();
            return false;
        });
    });   
</script>
