@{
    ViewBag.Title = "About us";
}
<div id="about-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Acerca de nosotros</h2>
        <div class="col-indent">
            <span class="font2">Martha, es una persona muy alegre, carismática, inteligente, responsable,
                pero lo que más me asombra es su actitud de servicio y apoyo a los demás sin esperar
                nada a cambio; creo que esas son algunas de las virtudes más trascendentales de
                ella. Gracias precio por aterrizarme en este mundo donde me distraigo fácilmente.
                <strong>Iván Padrón</strong>
                <br />
                <br />
                Iván, desde que lo conocí demostró ser alguien centrado, trabajador y sobre todo
                perseverante, su forma conquistarme y el apoyo que me ha dado en todo este tiempo
                han hecho que día a día me enamore más de él; gracias precio por todo tu amor. <strong>
                    Martha Perez</strong>
                <br />
                <br />
            </span>
            <img src="@Url.Content("~/Content/Images/about-us.jpg")" alt="" style="float:left;margin-right:20px;margin-top:20px;margin-bottom:15px;"/>
            <span class="font2">Evolución es la palabra que define nuestro compromiso, ya que conforme
                paso el tiempo supimos que éramos el uno para el otro y que Dios nos tenia algo
                preparado pero fue hasta el pasado 17 de Febrero del 2011, que nuestro compromiso
                se fortaleció… Iván me invito al restaurante Feel Gr@w, sorprendiéndome con una
                cena en un ambiente muy romántico después él junto con su sax hicieron el momento
                mas inolvidable ya que fue cuando reforzó nuestro compromiso entregando un hermoso
                anillo, y nervioso me pregunto si quería estar con el resto de mi vida… a lo cual
                yo no me pude resistir más…. Y dije CLARO quiero estar contigo siempre. </span>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Nuestra historia</h2>
        <div class="col-indent">
            <object width="350" height="263">
                <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626388809779%2Fshow%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626388809779%2F&set_id=72157626388809779&jump_to=">
                </param>
                <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649">
                </param>
                <param name="allowFullScreen" value="true"></param>
                <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649"
                    allowfullscreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626388809779%2Fshow%2F&page_show_back_url=%2Fphotos%2Fmarthaeivan%2Fsets%2F72157626388809779%2F&set_id=72157626388809779&jump_to="
                    width="350" height="263"></embed></object>
            <br />
            <br />
            <span class="font2">Nos conocimos en Junio del 2003 finalizando la preparatoria, Iván
                dice que desde antes ya me veía… yo no :) pero fue hasta el día de la graduación
                cuando supimos que era tiempo para conocernos...
                <br />
                <br />
                Oficialmente nuestro noviazgo empezó un día 22 de Julio de 2003 en el parque Fundidora
                desde entonces no nos hemos separado y nuestro amor se ha hecho más sólido y más
                fuerte a través del tiempo siendo el respeto y comunicación bases fundamentales
                para nuestra relación. </span>
        </div>
    </div>
</div>
