@{
    ViewBag.Title = "About us";
}
<div id="about-page">
    <div class="col-1">
        <h2 class="h2-margin">
            A few words about us</h2>
        <div class="col-indent">
            <img src="@Url.Content("~/Content/Images/about-us-1.jpg")" alt="" style="float:left;margin-right:20px;margin-top:10px"/>
            <span class="font2">Martha, eres una persona muy alegre, carismática, inteligente, responsable,
                pero lo que mas me asombra es tu actitud de servicio y apoyo a los demás sin esperar
                nada a cambio; creo que esas son algunas de las virtudes mas trascendentales en
                ti. Gracias por aterrizarme en este mundo donde me distraigo fácilmente. <strong>Ivan
                    Padron</strong>
                <br />
                <br />
                Ivan, podría decir mil cosas la palabra que lo define mejor es la Perseverancia
                desde el primer dia que lo conocí su forma de conquistarme, sus ganas de salir adelante
                han hecho de el alguien constante en todo lo que se propone. <strong>Martha Perez</strong>
                <br />
                <br />
            </span>
            <img src="@Url.Content("~/Content/Images/about-us-3.jpg")" alt="" style="float:left;margin-right:20px;margin-top:20px"/>
            <span class="font2">Evolucion es la palabra que define nuestro compromiso, ya que conforme
                paso el tiempo supimos que eramos el uno para el otro y que Dios nos tenia algo
                preparado pero fue hasta el pasado 17 de Febrero del 2011, que nuestro compromiso
                se fortalecio… sin palabras
                <br />
                <br />
                El lugar de los hechos fue en Feel Gr@w, donde Ivan junto con su sax hicieron el
                momento mas inolvidable fue ahí cuando reforzo nuestro compromiso entregando un
                hermoso anillo. Y Claro yo no me pude resistir mas…. Y dije CLARO quiero estar contigo
                simpre. </span>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Our history</h2>
        <div class="col-indent">
            <img src="@Url.Content("~/Content/Images/about-us-2.jpg")" alt=""/>
            <br />
            <br />
            <span class="font2">Nos conocimos en Junio del 2003 finalizando la preparatoriaoria,
                Ivan dice que desde antes ya me veia… yo no :) pero fue el dia de la graduacion
                que cuando supimos que era tiempo para conocernos...
                <br />
                <br />
                Oficialmente nuestro noviazgo empezo un dia 22 de Julio de 2003 en el parque Fundidora
                desde entonces no nos hemos separado y nuestro amor se ha hecho mas solido y fuerte
                a traves del tiempo siendo el respeto y comunicación bases fundamentales para nuestra
                relacion. </span>
        </div>
    </div>
</div>
