@{
    ViewBag.Title = "Contact";
}
<script type="text/javascript">
    function OnContactUs() {
        $('#comment').val('');
        alert('Se ha enviado tu comentario :)');
    }
</script>
<div id="contact-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Contáctanos aquí</h2>
        <div class="col-indent">
            <div>
                Escríbenos cualquier duda o comentario que tengas acerca del evento, reservaciones,
                hospedaje, etc. Nosotros te responderemos a la brevedad.
                <br />
                <br />
                @using (Ajax.BeginForm("Contact", null, new AjaxOptions { OnSuccess = "OnContactUs" }, new { @id = "form-contact" }))
                {   
                    @Html.TextArea("comment", "Comentario:", new { rows = "1", cols = "1", onblur = "if(this.value=='') this.value='Comentario:'", onfocus = "if(this.value =='Comentario:' ) this.value=''" })
                    <div class="alignright">
                        <a href="#" class="link" onclick="$('#comment').val('Comentario:');return false;">borrar</a>
                        <a href="#" class="link" onclick="$('#form-contact').submit();return false;">enviar</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Información Personal</h2>
        <div class="col-indent">
            <span>Para cualquier duda estamos a tus ordenes y te compartimos nuestro correo electrónico
                personal así como nuestros números de celular.
                <br />
                <br />
                <br />
                <br />
                <br />
            </span>
            <div class="font2" style="margin-left: 5px; float: right">
                <table>
                    <tr>
                        <td colspan="2" class="font-margin">
                            <strong>Martha & Ivan Wedding</strong>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px;">
                            Email
                        </td>
                        <td align="right">
                            <a href="mailto:marthaeivan@gmail.com">marthaeivan@gmail.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-margin">
                            <strong>Martha Perez</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Celular
                        </td>
                        <td align="right">
                            8112902664
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td align="right">
                            mta.elia@gmail.com
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-margin">
                            <strong>Ivan Padron</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Celular
                        </td>
                        <td align="right">
                            8114134354
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td align="right">
                            ivpadim@gmail.com
                        </td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>
