@{
    ViewBag.Title = "Contact";
}
<div id="contact-page">
    <div class="col-1">
        <h2 class="h2-margin">
            Forma de contacto</h2>
        <div class="col-indent">
            <form id="ContactForm" action="">
            <div>
                <label>
                    <input type="text" value="Name:" class="input" onblur="if(this.value=='') this.value='Name:'"
                        onfocus="if(this.value =='Name:' ) this.value=''" /></label>
                <label>
                    <input type="text" value="E-mail:" class="input" onblur="if(this.value=='') this.value='E-mail:'"
                        onfocus="if(this.value =='E-mail:' ) this.value=''" /></label>
                <textarea cols="1" rows="1" onblur="if(this.value=='') this.value='Message:'" onfocus="if(this.value =='Message:' ) this.value=''">Message:</textarea>
            </div>
            <div class="alignright">
                <a href="#" class="link" onclick="document.getElementById('ContactForm').reset()">Reset</a><a
                    href="#" class="link" onclick="document.getElementById('ContactForm').submit()">Submit</a>
            </div>
            </form>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Informacion Personal</h2>
        <div class="col-indent">
            <span>Para cualquier duda estamos a tus ordenes, no dudes en contactarnos recuerda no
                dejes para manana lo que puedes hacer hoy a traves de un correo o una llamada.
                <br />
                <br />
                Te listamos a continuacion nuestros telefonos y correos personales, por favor dale
                un uso adecuado y no lo compartas con la chusma!! ah tambien puedes usar la forma
                de contacto que esta a tu izquierda.
                <br />
                <br />
                <table>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Content/Images/contact-tile.jpg")" width="290px" alt=""/>
                        </td>
                        <td valign="top">
                            <div class="font2" style="margin-left: 30px;">
                                <table>
                                    <tr>
                                        <td colspan="2">
                                            <strong>Martha & Ivan</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="90px;">
                                            Email
                                        </td>
                                        <td align="right">
                                            marthaeivan@gmail.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <strong>Martha Perez</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="90px;">
                                            Celular
                                        </td>
                                        <td align="right">
                                            8112902664
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="90px;">
                                            Email
                                        </td>
                                        <td align="right">
                                            mta.elia@gmail.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <strong>Ivan Padron</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Celular
                                        </td>
                                        <td align="right">
                                            8114134354
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email
                                        </td>
                                        <td align="right">
                                            ivpadim@gmail.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email
                                        </td>
                                        <td align="right">
                                            ivpadim@hotmail.com
                                        </td>
                                    </tr>
                                </table>
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
</div>
