@{
    ViewBag.Title = "Contact";
}
<div id="page-contact">
    <div class="col-1">
        <h2 class="h2-margin">
            Contact</h2>
        <div class="col-indent">
            <span>Quisque diam lorem interdum vitae daibs acen erat lacinia fermentumonec in vet
                vel ipsumctor pulvinar. Proorper urna et feisu lum iaculis lacinia est. Proin dictuntm
                vee euismod consequat ante. Lorem lor siton sectetuer adipistesque sliqua ong ferman
                nulla el diad in lacus ut enim adipiscing aliqueulla venenatis. In pede mi, aliquet
                sit amemod intor uula. Aliquam dapibus tinci metus aesent justo dolor lobor tis
                quis lobo vinar ac lorstibulm sed anonec sagittis euisod purt perspi unde omns iste
                natuoluptatem </span>
        </div>
    </div>
    <div class="col-2">
        <h2 class="h2-margin">
            Contact</h2>
        <div class="col-indent">
            <span>Quisque diam lorem interdum vitae daibs acen erat lacinia fermentumonec in vet
                vel ipsumctor pulvinar. Proorper urna et feisu lum iaculis lacinia est. Proin dictuntm
                vee euismod consequat ante. Lorem lor siton sectetuer adipistesque sliqua ong ferman
                nulla el diad in lacus ut enim adipiscing aliqueulla venenatis. In pede mi, aliquet
                sit amemod intor uula. Aliquam dapibus tinci metus aesent justo dolor lobor tis
                quis lobo vinar ac lorstibulm sed anonec sagittis euisod purt perspi unde omns iste
                natuoluptatem </span>
        </div>
    </div>
</div>
