.main
{
    width: 1000px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
    text-align: left;
}

.header
{
}

.content
{
    padding-bottom: 3px;
}

.welcome
{
    font-size: 1.1em;
    text-align: right;
}

.footer
{
    width: 860px;
    border-top: 1px solid #E0E0E0;
    border-spacing: 2px;
    padding-top: 10px;
}

.col-1, .col-2, .col-3
{
    float: left;
}

.container
{
    width: 100%;
    overflow: hidden;
}

#home-page .col-1
{
    width: 285px;
    margin-right:5px;
}
#home-page .col-2
{
    width: 590px;
    margin-left: 10px;
}


#about-page .col-1
{
    width: 560px;
}

#about-page .col-2
{
    width: 315px;
    margin-left: 10px;
}


#contact-page .col-1
{
    width: 296px;
}
#contact-page .col-2
{
    width: 560px;
    margin-left: 10px;
}

#wedding-page .col-1
{
    width: 325px;
}
#wedding-page .col-2
{
    width: 560px;
    margin-left: 10px;
}

#wishes-page .col-1
{
    width: 570px;
}

#wishes-page .col-2
{
    width: 290px;
    margin-left: 5px;
}

#login-page
{
    margin-top: -100px;
    margin-left: 450px;
}

#user-page
{
    margin-top: -100px;
    margin-left: 450px;
}
